.count {
  margin: 100px auto;
  text-align: center;
  font-family:Impact, Charcoal, sans-serif;
  background-color: black;
  font-color: white;
  font-weight:900;
  text-shadow: 0px 5px white;
}

button {
  font-family:Impact, Charcoal, sans-serif;
  font-color: white;
  font-weight:900;
  text-shadow: 1px 5px white;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px rgb(255 255 255);
}

button:hover {background-color: rgba(10,10,10}

button:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#clicks {
 color: black; 
}
.heading {
  font-size: 80px;
  text-decoration-line:underline;
  text-decoration-style: single;
}
.secret {
 	color:black; 
  text-shadow: 0 0px rgb(0,0,0); 
  text-decoration-line:none;
  text-decoration-style: none;
}
